a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color:#333;
  display: flex;
  
}

body {
  padding: 4rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second:'Spectral', georgia 
  --font-family: var(--type-first);
  --background-one:#fb1;
  --background-two:#eee;
  --color-one:#764701;
  --color-two:#fea;
}

h1, h2,h3,h4,p {
  margin: 0;
  padding: 0;
}

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  display: block;
  max-width: 100%;
}


button, input {
  margin: 0;
  padding: 0;
  display: block;
}

.menuMobileButtonActive {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
  
  color: #fb1;
}

/* animar botão mobile */
.menuMobileButtonActive::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0px 8px currentColor, 0px -8px currentColor;
}

/* animar menu mobile */
.activeMenuMobile {
  transition: 0.3s;
  transform: initial !important;
  opacity: 1 !important;
  pointer-events: initial !important;
}


.aniamteLeft {
  transform: translateX(-20px);
  animation: animateLeft 0.5s forwards;
  margin-top: 20vh;
}
@keyframes animateLeft {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(50px);
  }
  100% {
    transform: inherit;
  }
}